:root{
  --primaryColor: #F55B14;
  --secondaryColor: #3D7550;
  --textFamily: 'Poppins', sans-serif;
  --text2Family: "Antonio", sans-serif;
  --grayColor: #7c7474;
  --blackColor: #535050;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; */
}
body{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container{
  max-width: 1200px;
}

.buttonLink{
  background-color: var(--primaryColor);
}

.pagebutton{
  display: inline-block;
  width: 170px;
  height: 45px;
  padding: 20px;
  position: relative;
  color: #ffffff !important;
  font-size: 14px !important;
  font-family: var(--textFamily);
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  border-radius: 0;
  text-transform: uppercase;
  margin: 0 auto;
  display: inline-flex!important;
  align-items: center;
  justify-content: center!important;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  background-color: var(--primaryColor);
  backface-visibility: hidden;
  transform: translateX(0);
} 
.pagebuttonDark{
  background-color: var(--secondaryColor);
}
.pagebutton .before,
.pagebuttonDark .before{
  padding-right: 10px!important;
}
.pagebutton span.after{
  padding-left: 10px;
  display: none;
}
.pagebutton span .icon{
  font-size: 20px;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1)
}
.pagebutton:hover{
  text-decoration: none;
  color: var(--secondaryColor)!important;
  .before{
    display: none;
  }
  .after{
    display: block;
  }
}

.pagebuttonDark:hover{
  color: var(--primaryColor)!important;
}